body,html{padding:0;margin:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif}a{color:inherit;text-decoration:none}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/*
     FILE ARCHIVED ON 06:08:15 Jun 04, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:02:30 Jul 22, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 141.355
  exclusion.robots: 0.073
  exclusion.robots.policy: 0.064
  cdx.remote: 0.057
  esindex: 0.008
  LoadShardBlock: 112.618 (3)
  PetaboxLoader3.datanode: 128.936 (4)
  load_resource: 285.235
  PetaboxLoader3.resolve: 169.572
*/